@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
  h1 {
    text-transform: capitalize;
  }

  // header
  .section-header {
    align-items: center;
    margin: -1.5em 0 2em 0;
    font-size: 1em;
    .header-text {
      text-transform: uppercase;
    }
    .hr-line {
      padding: 0 14em;
    }
    .header-line {
      background: var(--tangerine);
      display: block;
      margin: auto;
      width: 80px;
      border: 0.2em solid var(--tangerine);
      border-radius: 5px;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  section {
    padding: 3em 2em;
    text-align: center;
  }
}
body {
  background: #f2f2f2;
  margin: 0;
}
:root {
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --primaryColor: #141413;
  --secondaryColor: #fd6e00;
  --thirdColor: #108590;
  --tangerine: #fd9004;
  --grey: #6c6d6e;
}
// BUTTON//
.button {
  background: var(--thirdColor);
  text-transform: capitalize;
  color: var(--mainWhite);
  padding: 0.5em 0.8em;
  margin: 2em;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5em;
  font-weight: bold;

  &:hover {
    background: var(--secondaryColor);
    color: var(--mainBlack);
    border: none;
  }
}

// Start NAVBAR//
.navbar {
  background: var(--mainWhite);

  .container-nav {
    padding: 0.8em 0.8em 0 0.8em;
    display: flex;
    place-content: space-between;
  }
  .image-logo {
    padding-left: 5em;
    height: 2em;
    width: 7.5em;
  }

  .menu-bars {
    cursor: pointer;
    color: var(--mainBlack);
    float: right;
    height: 1.5em;
    width: 1.5em;
    margin: 0.2em;

    &:hover {
      color: var(--secondaryColor);
    }
  }
  .menu-times {
    cursor: pointer;
    color: var(--mainBlack);
    float: right;
    height: 1.5em;
    width: 1.5em;
    margin: 0.6em;

    &:hover {
      color: var(--secondaryColor);
    }
  }

  nav {
    background: var(--thirdColor);
    position: fixed;
    z-index: 999;
    width: 74%;
    right: -100%;
    top: 0;
    height: 100vh;
    padding: 0.5em;
    transition: 850ms;

    ul.links {
      margin-top: 3em;
    }
    li {
      list-style-type: none;
      padding: 1em;
    }
    .home-link,
    .menu-link {
      color: var(--mainWhite);
      text-decoration: none;
      display: block;
      font-size: 1.3em;
      text-align: right;
      transition: 0.5s;

      &:hover {
        font-weight: bold;
        color: var(--mainBlack);
        border-radius: 4px;
        padding-right: 7em;
        transition: 0.5s;
        background: var(--tangerine);
      }
    }
  }
  .menu.active {
    transition: 350ms;
    right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .menu-times,
  .menu-bars {
    display: none;
  }
  .container-nav {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 0;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: inherit;
    height: 1em;
    width: 100%;
    padding: 0;
    align-items: center;
    ul {
      display: flex;
    }
    .links {
      position: unset;
      padding-bottom: 1em 2em;
    }

    .home-link,
    .menu-link {
      color: black;
      margin-bottom: 2em;
      &:hover {
        padding: 0 0.6em;
        color: var(--mainWhite);
        transition: none !important;
      }
    }
  }
}

// End NAVBAR

// Start Landing Page //
.main-page {
  .landing-text {
    color: var(--mainBlack);
    font-size: 2.1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .landing-paragraph {
    color: var(--mainBlack);
  }
  .landing-image {
    margin: 2em;
    width: 80%;
    height: 80%;
    border-radius: 50px 150px;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 1em;
  }
  .main-page .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .main-page {
    .left-column {
      margin: 5em 2em 0 1em;
    }
    .landing-image {
      width: 40%;
      margin: 0 -3em;
    }
    .left-column {
      margin-right: 3em;
      padding-right: 4em;
    }
    .landing-paragraph {
      padding: 0.5em 0;
    }
    .get-in-touch {
      margin: 0 9em;
    }
  }
}

// End of landing page //

//Card//
.card {
  background: var(--mainWhite);
  margin: 1em;
  padding: 0.5em;
  border: 0.5em;
  border-radius: 0.8em;
  .image-avatar {
    width: 40%;
    border-radius: 0.5em;
  }
  .card-service {
    margin-bottom: 0.5em;
  }
}

// Start of services //
.service-page {
  padding: 2.5em;
  background: var(--thirdColor);
  .container {
    padding: 0.5em;
  }
  .service-text {
    margin-bottom: 1em;
  }

  .services-cards {
    padding: 0.5em;
  }
}
@media only screen and (min-width: 768px) {
  .services-cards {
    display: flex;
  }
}

// End of services //
// About us //
.about-us {
  padding: 2em;
  margin: 0 3em 3em;
}
@media only screen and (min-width: 768px) {
  .about-us {
    padding: 3em;
    margin: 0 6em 4em;
  }
}

// Start of Contact
.contact {
  background: var(--mainWhite);
  .chat-picture img {
    width: 25em;
  }
  label {
    display: block;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    border: 2px solid var(--grey);
    box-sizing: border-box;
  }
  .submit-button {
    margin-top: -2em;
  }
}
@media only screen and (min-width: 768px) {
  .contact {
    position: relative;
    padding: 14em;

    .container {
      display: flex;
    }
    .get-in-touch {
      position: absolute;
      top: 3em;
      left: 1em;
    }
    .chat-picture {
      position: absolute;
      right: 4em;
      top: 4em;
      width: 40%;
      height: 60%;
    }
    .get-in-touch {
      position: absolute;

      right: 2em;
    }
    .contact-form {
      position: absolute;
      left: 6em;
      top: 8em;
      width: 45%;
      height: 60%;
    }
  }
}
// end of conatct
// start of djziza
.dj-ziza {
  .container {
    margin-top: -2em;
  }
  .dj-logo {
    width: 40%;
  }
  .dj-header {
    padding: 0.5em;
    margin-top: 4em;
  }
  .dj-links {
    width: 100%;
    .spotify,
    .mixcloud {
      display: inline;
      width: 8%;
      padding: 0em;
      margin: 0.8em;
      cursor: pointer;
    }
    .listen-links {
      font-size: 1em;
    }
  }
}

// end of djziza
.dj-form {
  padding: 1.5em;
  label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 0.8em;
    border: 1px solid var(--grey);
    box-sizing: border-box;
  }
}
