* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
:root {
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --primaryColor: #ffc20f;
  --secondaryColor: #fd6e00;
  --thirdColor: #108590;
  --tangerine: #fd9004;
  --grey: #6c6d6e;
}

/* Navbar */
.nav-menu {
  display: inline;
  text-transform: capitalize;
  position: fixed;
  width: 100%;
  height: 8%;
  background-color: pink;
}
.image-logo {
  position: absolute;
  height: 30px;
  top: 15px;
  left: 40px;
}

.main-links {
  position: relative;
  top: 15px;
  right: 50px;
  padding: 5px;
  float: right;
}
.main-links li {
  padding: 10px;
  display: inline;
  text-decoration: none;
  font-weight: 900;
  text-decoration: none;
}
.links {
  text-decoration: none;
}
.links:hover {
  color: var(--secondaryColor);
}
.toggle-menu {
  position: absolute;
  right: 60px;
  top: 20px;
}
.menu-bars,
.menu-times {
  position: absolute;
  width: 25px;
  height: 25px;
}
.menu-bars:hover,
.menu-times:hover {
  color: Var(--secondaryColor);
}

@media only screen and (max-width: 768px) {
  .links {
    display: none;
  }
}
